<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="
        staticDomain=${@environment.getProperty('resource.test')},
        pageSize=${@environment.getProperty('resource.page')}">

	<!--공통 JS / CSS 영역을 관리하는 환경 영역-->
    <head th:replace="~{fragment/adminlte/config :: configFragment}">
		<title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">공통 타이틀</title>
	</head>

	<body class="hold-transition sidebar-mini layout-fixed">
		<div class="wrapper">
			<!--Header 영역을 참조합니다.-->
			<nav th:replace="~{fragment/adminlte/header :: headerFragment}"></nav>

			<aside th:replace="~{fragment/adminlte/side :: sideFragment}"></aside>

			<!--Content 내용 영역을 참조합니다-->
			<div layout:fragment="content"></div>

			<aside th:replace="~{fragment/adminlte/side2 :: side2Fragment}"></aside>

			<!--Footer 영역을 참조합니다.-->
			<footer th:replace="~{fragment/adminlte/footer :: footerFragment}"></footer>
		</div>
	</body>
</html>