<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminlte/default}">
	<!-- Content Wrapper. Contains page content -->
	<div layout:fragment="content" class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>jqxGrid</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">jqxGrid</li>
						</ol>
					</div>
				</div>
			</div><!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">jqxGrid</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body">
					<div id="jqxGrid1"></div>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->

	<th:block layout:fragment="script">
		<!-- jqxGrid for demo purposes -->
		<script th:src="@{/adminlte/plugins/jqxgrid/demos.js}"></script>
		<script th:src="@{/adminlte/plugins/jqxgrid/generatedata.js}"></script>

		<script>
		  $(function () {
		    createDataTableSorting('#jqxGrid1');
		  });

		  function createDataTableSorting(selector) {
		    var source = {
		        localdata: generatedata(85),
		        datatype: "array",
		        datafields: [
		            { name: 'firstname', type: 'string' },
		            { name: 'lastname', type: 'string' },
		            { name: 'productname', type: 'string' },
		            { name: 'quantity', type: 'number' },
		            { name: 'price', type: 'number' },
		            { name: 'total', type: 'number' }
		        ],
		        sortcolumn: 'firstname',
		        sortdirection: 'asc'
		    };
		    var dataAdapter = new $.jqx.dataAdapter(source);
		    // initialization options - validated in typescript
		    // jqwidgets.DataTableOptions has generated TS definition
		    var options = {
		        source: dataAdapter,
		        sortable: true,
		        pageable: true,
		        altRows: true,
		        columns: [
		            { text: 'Name', dataField: 'firstname', width: 200 },
		            { text: 'Last Name', dataField: 'lastname', width: 200 },
		            { text: 'Product', editable: false, dataField: 'productname', width: 180 },
		            { text: 'Quantity', dataField: 'quantity', width: 80, align: 'right', cellsAlign: 'right' },
		            { text: 'Unit Price', dataField: 'price', width: 90, align: 'right', cellsAlign: 'right', cellsFormat: 'c2' },
		            { text: 'Total', dataField: 'total', width: 100, align: 'right', cellsAlign: 'right', cellsFormat: 'c2' }
		        ]
		    };
		    // creates an instance
		    var myDataTable = jqwidgets.createInstance(selector, 'jqxDataTable', options);
		  }
		</script>
	</th:block>
</html>
