<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminlte/default}">
	<!-- Content Wrapper. Contains page content -->
	<div layout:fragment="content" class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>jqxGrid</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">jqxGrid</li>
						</ol>
					</div>
				</div>
			</div><!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">jqxGrid</h3><br/>
					<div>
						<div id='sampleForm' style="width: 100%; height: auto; float: left;"></div>
					</div>
				</div>
				<!-- /.card-header -->
				<div class="card-body">
					<div id="jqxGrid1"></div>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->

	<th:block layout:fragment="css">
		<link rel="stylesheet" th:href="@{/adminlte/plugins/jqxgrid/jqx.office.css}">
	</th:block>

	<th:block layout:fragment="script">
		<!-- jqxGrid for demo purposes -->
		<script th:src="@{/adminlte/plugins/jqxgrid/demos.js}"></script>
		<script th:src="@{/adminlte/plugins/jqxgrid/generatedata.js}"></script>

		<script>
		  $(function () {
		    createDataTableSorting('#jqxGrid1');

		    var template = [
                {
	                columns: [
	                    {
		                    bind: 'group',
		                    type: 'option',
		                    label: 'Group',
		                    labelPosition: 'top',
		                    labelWidth: '30%',
		                    align: 'left',
		                    width: '120px',
		                    component: 'jqxDropDownList',
		                    options: [
		                        { label: 'Option 1', value: 'value1' },
		                        { label: 'Option 2', value: 'value2' },
		                        { label: 'Option 3', value: 'value3' }
		                    ]
		                },
		                {
		                    bind: 'industry',
		                    type: 'text',
		                    label: 'Industry',
		                    labelPosition: 'top',
		                    labelWidth: '30%',
		                    labelPadding: { left: 30 },
		                    align: 'left',
		                    width: '220px',
		                    padding: { left: 30 }
		                },
		                {
		                    bind: 'status',
		                    type: 'text',
		                    label: 'Status',
		                    labelPosition: 'top',
		                    labelWidth: '30%',
		                    labelPadding: { left: 30 },
		                    align: 'left',
		                    width: '195px',
		                    padding: { left: 30 }
		                },
		                {
		                    bind: 'offering',
		                    type: 'text',
		                    label: 'Offering',
		                    labelPosition: 'top',
		                    labelWidth: '30%',
		                    labelPadding: { left: 30 },
		                    align: 'left',
		                    width: '300px',
		                    padding: { left: 30, right: 0 }
		                },
		                {
		                    bind: 'partner',
		                    type: 'text',
		                    label: 'Partner',
		                    labelPosition: 'top',
		                    labelWidth: '30%',
		                    align: 'left',
		                    width: '120px',
		                    padding: { left: 0, right: 0 }
		                }
	                ]
                },
                {
                    columns: [
		                {
		                    bind: 'kickOffStartDate',
		                    type: 'date',
		                    label: 'Kick-off date',
		                    labelPosition: 'top',
		                    labelWidth: '30%',
		                    align: 'left',
		                    width: '185px',
		                    padding: { right: 0 },
		                    formatString: 'yyyy-MM-dd',
		                    readonly: true
		                },
		                {
		                    bind: 'kickOffEndDate',
		                    type: 'date',
		                    align: 'left',
		                    width: '185px',
		                    padding: { left: 0, top: 31 },
		                    formatString: 'yyyy-MM-dd',
		                    disabled: true
		                },
		                {
		                    bind: 'endDate',
		                    type: 'date',
		                    label: 'End date',
		                    labelPosition: 'top',
		                    labelWidth: '30%',
		                    labelPadding: { left: 30 },
		                    align: 'left',
		                    width: '185px',
		                    padding: { left: 30 },
		                    formatString: 'yyyy-MM-dd'
		                },
		                {
		                    bind: 'modifyStartDate',
		                    type: 'date',
		                    label: '수정일',
		                    labelPosition: 'top',
		                    labelWidth: '30%',
		                    labelPadding: { left: 45 },
		                    align: 'left',
		                    width: '185px',
		                    padding: { left: 45, right: 0 },
		                    formatString: 'yyyy-MM-dd',
		                    readonly: true
		                },
		                {
		                    bind: 'modifyEndDate',
		                    type: 'date',
		                    align: 'left',
		                    width: '185px',
		                    padding: { left: 0, top: 31 },
		                    formatString: 'yyyy-MM-dd',
		                    disabled: true
		                },
		                {
                            columnWidth: '140px',
                            bind: 'myDeal',
                            type: 'boolean',
                            label: 'My Deal',
                            labelPosition: 'right',
                            labelPadding: { left: 0, top: 30, right: 0, bottom: 5 },
                            align: 'left',
                            padding: { left: 30, top: 30 }
                        },
                        {
                            columnWidth: '140px',
                            bind: 'digital',
                            type: 'boolean',
                            label: 'Digital',
                            labelPosition: 'right',
                            labelPadding: { left: 0, top: 30, right: 0, bottom: 5 },
                            align: 'left',
                            padding: { left: 30, top: 30 }
                        }
	                ]
	            },
	            {
	                columns: [
	                    {
		                    bind: 'type',
		                    type: 'option',
		                    label: 'Type',
		                    labelPosition: 'top',
		                    labelWidth: '30%',
		                    align: 'left',
		                    width: '220px',
		                    component: 'jqxDropDownList',
		                    options: [
		                        { label: 'Option 1', value: 'value1' },
		                        { label: 'Option 2', value: 'value2' },
		                        { label: 'Option 3', value: 'value3' }
		                    ]
		                },
		                {
		                    bind: 'keyword',
		                    type: 'text',
		                    label: 'Keyword',
		                    labelPosition: 'top',
		                    labelWidth: '30%',
		                    labelPadding: { left: 30 },
		                    align: 'left',
		                    width: '350px',
		                    padding: { left: 30 }
		                },
		                {
		                    bind: 'baseDate',
		                    type: 'date',
		                    label: '기준일',
		                    labelPosition: 'top',
		                    labelWidth: '30%',
		                    labelPadding: { left: 30 },
		                    align: 'left',
		                    width: '185px',
		                    padding: { left: 30 },
		                    formatString: 'yyyy-MM-dd'
		                }
	                ]
                }
            ];


	            var sampleValue = {
	                'group': 'value3',
	                'industry': 'text box value',
	                'myDeal': true,
	                'kickOffStartDate': '',
	                'kickOffEndDate': '',
	                'endDate': '',
	                'modifyStartDate': '',
	                'modifyEndDate': ''
	            };

	            var sampleForm = $('#sampleForm');

	            sampleForm.jqxForm({
	                template: template,
	                value: sampleValue,
	                padding: { left: 10, top: 10, right: 0, bottom: 10 }
	            });

	            // sampleValue.checkboxValue2 = true;

	            sampleForm.val(sampleValue);

	            sampleForm.on('formDataChange', function (event) {
	                var args = event.args;
	                var newValue = args.value;
	                var previousValue = args.previousValue;
	            });
		  });

		  function createDataTableSorting(selector) {
		    var source = {
		        localdata: generatedata(85),
		        datatype: "array",
		        datafields: [
		            { name: 'firstname', type: 'string' },
		            { name: 'lastname', type: 'string' },
		            { name: 'productname', type: 'string' },
		            { name: 'quantity', type: 'number' },
		            { name: 'price', type: 'number' },
		            { name: 'total', type: 'number' }
		        ],
		        sortcolumn: 'firstname',
		        sortdirection: 'asc'
		    };
		    var dataAdapter = new $.jqx.dataAdapter(source);
		    // initialization options - validated in typescript
		    // jqwidgets.DataTableOptions has generated TS definition
		    var options = {
		        source: dataAdapter,
		        sortable: true,
		        pageable: true,
		        altRows: true,
		        columns: [
		            { text: 'Name', dataField: 'firstname', width: 200 },
		            { text: 'Last Name', dataField: 'lastname', width: 200 },
		            { text: 'Product', editable: false, dataField: 'productname', width: 180 },
		            { text: 'Quantity', dataField: 'quantity', width: 80, align: 'right', cellsAlign: 'right' },
		            { text: 'Unit Price', dataField: 'price', width: 90, align: 'right', cellsAlign: 'right', cellsFormat: 'c2' },
		            { text: 'Total', dataField: 'total', width: 100, align: 'right', cellsAlign: 'right', cellsFormat: 'c2' }
		        ]
		    };
		    // creates an instance
		    var myDataTable = jqwidgets.createInstance(selector, 'jqxDataTable', options);
		  }
		</script>
	</th:block>
</html>
